@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}
header{
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin: 10px;
}
.logo h4{
    margin-bottom: 0;
}
.logo p{
    margin-top: 0;
}
.logo{
    text-align: center;
}
.active-link{
    color: #4f4d4d;
}

/*main*/
main{
    background-image: url("photo-1551120738-c3fcea8d0cf8.jpg");
    background-size: cover;
    height: 90vh;
    padding-top: 10vh;
}
section{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: whitesmoke;
    text-align: center;
}
section h1{
    font-size: 80px;
    letter-spacing: 24px;
}
section p{
    font-size: 24px;
}
button{
    width: 170px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    transition: 1s;
}
button:hover{
    background-color: white;
    color: black;
    transform: scale(1.25);
    transition: 1s;
    cursor: pointer;

}